In [12]:
 joe = "young"

In [14]:
joe

'young'

In [16]:
len(joe)

5

In [13]:
joe[1]

'o'

In [25]:
def f (x):
    return 3 ** (x)

In [18]:
 x = 2

In [19]:
f (x)

4

In [20]:
f (4)

8

In [21]:
f (5)

10

In [26]:
f (5)

243

In [36]:
def collatz (n):
    if n % 2 == 0:
        return n/2
    else:
        return 3 * n + 1
print (collatz(3))

10

In [37]:
42 % 2 == 2

False

In [40]:
21 == 84/2

False

In [39]:
42 % 2 == 41 % 2.

False

In [54]:
def collatz( n ):
    '''Takes a single number as argument and applies the Collatz to it'''
    if n % 2 == 0:
        return n/2
    return 3*n + 1

print (collatz(3))

10

In [56]:
def matchFirst ( s1 , s2 ):
    
    return s1[0] == s2[0]

In [57]:
def matchFirst ( s1 , s2 ):
    '''Compare the first characters in s1 and s2
    and return True if they are the same.
    False if not'''

    if s1 [0] == s2 [0]:
        return True
    else :
        return False

In [58]:
odd = [2, 3, 5, 6]

In [60]:
yo = ['them', 'they', 'those']

In [61]:
odd + yo

[2, 3, 5, 6, 'them', 'they', 'those']

In [62]:
oddyo = odd + yo

In [63]:
oddyo

[2, 3, 5, 6, 'them', 'they', 'those']

In [67]:
for i in range(1,100):
    if i % 15 == 0: print(str(i) + ' fizzbuzz')
    elif i % 5 == 0: print(str(i) + ' buzz')
    elif i % 3 == 0: print(str(i) + ' fizz')

3 fizz
5 buzz
6 fizz
9 fizz
10 buzz
12 fizz
15 fizzbuzz
18 fizz
20 buzz
21 fizz
24 fizz
25 buzz
27 fizz
30 fizzbuzz
33 fizz
35 buzz
36 fizz
39 fizz
40 buzz
42 fizz
45 fizzbuzz
48 fizz
50 buzz
51 fizz
54 fizz
55 buzz
57 fizz
60 fizzbuzz
63 fizz
65 buzz
66 fizz
69 fizz
70 buzz
72 fizz
75 fizzbuzz
78 fizz
80 buzz
81 fizz
84 fizz
85 buzz
87 fizz
90 fizzbuzz
93 fizz
95 buzz
96 fizz
99 fizz

In [74]:
def foo(x):
     print locals()
foo(1)

{'x': 1}

In [79]:
import numpy as np

In [83]:
dir

In [7]:
def add(x, y):
    return x + y
def sub(x, y):
    return x - y
def apply(func, x, y):
    return func(x, y)

In [8]:
apply(add, 2, 1)

3

In [10]:
apply(sub, 2, 1)

1

In [11]:
import pandas as pd

In [13]:
df = pd.read_csv("ZILL-Z92101_MSP.csv")

In [16]:
df.head()

         Date   Value
0  2016-02-29  473500
1  2016-01-31  508250
2  2015-12-31  503500
3  2015-11-30  474250
4  2015-10-31  476750

In [18]:
df.describe()

               Value
count     207.000000
mean   395615.817430
std     86734.165766
min    159461.538500
25%    351125.000000
50%    415000.000000
75%    457587.500000
max    553750.000000

In [26]:
import matplotlib

# Args & Kwargs

## The fundamentals of understanding arguments
s

In [48]:
# Example Args 

def test_var_args(f_arg, *argv):
    print "first normal arg:", f_arg
    for arg in argv:
        print "another arg through *argv :", arg

test_var_args('yasoob','python','eggs','test')

first normal arg: yasoob
another arg through *argv : python
another arg through *argv : eggs
another arg through *argv : test

In [40]:
# My understanding of args
def this_is_code(f_nippe, *man):
        print "This is nippe:", f_nippe
        for nippe in man:
            print "Another one nippe *man :", nippe
            
            this_is_code("dick", "Who", "nigga", "Jigga")

In [38]:
this_is_code("dick", "Who", "nigga", "Jigga")

This is nippe: dick
Another one nippe *man : Who
Another one nippe *man : nigga
Another one nippe *man : Jigga

In [47]:
#Kwargs example
## Allow you to pass keywords
#Usage of **kwargs
####**kwargs allows you to pass keyworded variable length of arguments to a function. 
####You should use **kwargs if you want to handle named arguments in a function.
####Here is an example to get you going with it:

def greet_me(**kwargs):
    if kwargs is not None:
        for key, value in kwargs.iteritems():
            print "%s == %s" %(key,value)
            
greet_me(name="yasoob")

name == yasoob

In [51]:
# My understanding of Kwargs

def where_the_hoes_at(**thirst):
    if thirst is not None:
        for key, value in thirst.iteritems():
            print "%s == %s" %(key,value)
where_the_hoes_at(over="there")

over == there

In [53]:
def test_args_kwargs(arg1, arg2, arg3):
    print "arg1:", arg1
    print "arg2:", arg2
    print "arg3:", arg3

In [54]:
# first with *args
args = ("two", 3,5)
test_args_kwargs(*args)

arg1: two
arg2: 3
arg3: 5

In [61]:
bases = ("damn", 2,4)
test_args_kwargs(*bases)

arg1: damn
arg2: 2
arg3: 4

# order of using args & kwargs

### some_func(fargs,*args,**kwargs)